body {
    font-family: arial;
    background-image: url("bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

* {
    margin: 0px;
    padding: 0px;
}

.header {
    overflow: hidden;
    background-color: hsl(263, 55%, 22%);
    padding: 20px;
    padding-bottom: 10px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

button {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
}

button:hover {
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}

.header-right {
    float: right;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 98px;
    min-height: 86vh;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.card {
    padding: 15px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
}

.container .card .slide {
    width: 230px;
    height: 230px;
    transition: 0.5s;
}

.container .card .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.container .card:hover .slide.slide1 {
    transform: translateY(0px);
}

.container .card .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    background-color: hsl(263, 50%, 30%);
    color: #fff;
}

.container .card:hover .slide.slide2 {
    transform: translateY(0);
}

.container .card .slide.slide2::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #2c73df;
}

.container .card .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

.container .card .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

footer {
    background-color: hsl(263, 48%, 33%);
    color: #fff;
    margin-top: 30px;
}