<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Responsive Login Form Sign In Sign Up</title>
        <style>
            body{
                background: #070D1F;
            }
        </style>
    </head>
    <body>
        <div class="login">
            <div class="login__content">
                <div class="login__img">
                    <img src="{% static '/assets/img/img-login.svg' %}" alt="">
                </div>

                <div class="login__forms">
                    <form action="" class="login__registre" id="login-in" method="POST">
                        {% csrf_token %}
                        <h1 class="login__title">Sign In</h1>
    
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" placeholder="Username" name="username" class="login__input">
                        </div>
    
                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" placeholder="Password" name="password" class="login__input">
                        </div>
                        <button type="submit" class="login__button" value="login">Login</button>

                        <div>
                            {% if messages %}
                            {% for message in messages %}
                            <span class="login__account">{{ message }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </form>

                </div>
            </div>
        </div>
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>