<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        setTimeout(function() {
            window.location.href = 'home.html';
        }, 3000);
    </script>
    <meta charset="UTF-8">
    <title>Teachers tab</title>
    <link rel="stylesheet" href="preloader.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="bookshelf_wrapper">
        <ul class="books_list">
            <li class="book_item first"></li>
            <li class="book_item second"></li>
            <li class="book_item third"></li>
            <li class="book_item fourth"></li>
            <li class="book_item fifth"></li>
            <li class="book_item sixth"></li>
        </ul>
        <div class="shelf"></div>
    </div>
    <!-- partial -->

</body>

</html>