<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static '/viewattendance/css/styles.css' %}">

    <title>HOME</title>
</head>

<body>
    <header class="header">
        <a href="#" class="header__logo">AMS</a>

        <ion-icon name="menu-outline" class="header__toggle" id="nav-toggle"></ion-icon>

        <nav class="nav" id="nav-menu">
            <div class="nav__content bd-grid">

                <ion-icon name="close-outline" class="nav__close" id="nav-close"></ion-icon>

                <div class="nav__perfil">
                    <div class="nav__img">
                        <img src="static/viewattendance/img/2.png" alt="">
                    </div>

                    <div>
                        <a href="#" class="nav__name">AMS</a>
                        <span class="nav__profesion">Attendace Management System</span>
                    </div>
                </div>

                <div class="nav__menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="{% url 'home' %}" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="{% url 'teacherhome' %}" class="nav__link">Mark Attendace</a></li>
                        <li class="nav__item"><a href="{% url 'viewattendance' %}" class="nav__link active">View Attendace</a></li>
                        <li class="nav__item"><a href="{% url 'timetable' %}" class="nav__link">Timetable</a></li>

                        {% if request.user.is_authenticated %}
                        

                        <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link">Logout</a></li>
                        <span style="color:cyan;">@{{request.user.username}}</span>


                        {% else %}
                        <li class="nav__item"><a href="{% url 'login' %}" class="nav__link">Login</a></li>

                        {% endif %}

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <h2>Attendance of students</h2>
        <table class="table">
            <tr>
                {% comment %} <th>Roll Number</th> {% endcomment %}
                <th>Attendance</th>
                <th>Date</th>
            </tr>
            {% for view in classname %}
            <tr>
                
                <td>{{view.attendrecord}}</td>
                <td>{{view.date}}</td>
            </tr>
            {% endfor %}
            {% comment %} <tr>
                <td>002</td>
                <td>20</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>003</td>
                <td>30</td>
                <td>75%</td>
            </tr>
            <tr>
                <td>004</td>
                <td>28</td>
                <td>70%</td>
            </tr>
            <tr>
                <td>005</td>
                <td>27</td>
                <td>67.5%</td>
            </tr>
            <tr>
                <td>006</td>
                <td>39</td>
                <td>97.5%</td>
            </tr>
            <tr>
                <td>007</td>
                <td>36</td>
                <td>90%</td>
            </tr> {% endcomment %}
        </table><br>
        <input type="button" class="submit" value="BACK" onclick="window.location.href='viewattendancehome.html' " />
    </div>
    </div>
    <!-- ===== IONICONS ===== -->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

    <!--===== MAIN JS =====-->
    <script src="static/index/js/main.js"></script>
</body>

</html>